header
{
	background: url("photo-1569429210811-641dced2167e.jpeg") ;
	font-family: 'Josefin Sans', sans-serif;
	background-attachment: fixed ;
	color:white;
	
}
h1{
	text-align: center;
}
h3{
	text-align: center;
}